.search {
  position: absolute;
  top: 160px;
  left: 40%;
  /* width: 100vw; */
}
.search > h2 {
  display: flex;
  align-items: center;
  width: 558px;
  padding: 10px;
  background-color: white;
  position: absolute;
  left: 0;
}

.search > input {
  width: 558px;
  padding: 25px;
  position: absolute;
  left: 0;
  height: 70px;
  top: 400px;
  border: none;
  font-size: 25px;
}
.search > input:focus {
  outline-width: 0;
}
.search > button {
  width: 558px;
  position: absolute;
  left: 0;
  top: 470px;
  border: none;
  color: white;
  background-color: cornflowerblue;
  text-transform: inherit !important;
  font-weight: 700 !important;
  padding: 20px;
  font-size: 20px;
}
.search > button:hover {
  color: cornflowerblue;
  background-color: white;
  outline: cornflowerblue;
}
/* .dataList {
  display: flex;
  justify-items: center;
  align-items: center;
} */
/* .dataList > option {
  background-color: cornflowerblue;
} */
