.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}
.header__center {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid cornflowerblue;
  border-radius: 999px;
}
.header__center > input {
  border: none;
  width: 250px;
  outline-width: 0;
  height: 39px;
}
.header__icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
  width: 150px;
}
.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15vw;
  margin-right: 80px;
}
.rent__tag {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.rent__tag:first-child {
  color: cornflowerblue;
  margin-bottom: 0;
  font-size: 17px;
  text-align: center;
  font-weight: 900;
  /* background-color: grey; */
}
.rent__tag > button {
  color: white;
  background-color: cornflowerblue;
  font-size: 10px;
  padding: 0;
  margin-top: 10px;
  font-weight: 600;
}
.rent__tag > button:hover {
  color: cornflowerblue;
  background-color: white;
}
.avatar {
  color: cornflowerblue !important;
}
.search__icon {
  color: cornflowerblue !important;
}
input[type="text"] {
  font-size: 18px;
  color: cornflowerblue;
  opacity: 0.7;
}
